:root{
    --main-color: #C2AF48;
    --hp-color: #fff;
    --sp-color: #F3C72A;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
    
}
.container{
    max-width: 1150px;
    margin: auto;
}
.header{
    background-color: var(--main-color);
}
.header-logo{
    flex: 1;
}
.header-logo img{
    width: 90px;
    
}
.header-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.header-navbar{
    flex: 4;
}
.header-navbar-list{
    padding: 27px;
    display: flex;
}

.header-navbar-item a{
    color: var(--hp-color);
    font-size: 25px;
    margin-left: 40px;

}
.header-icon{
    padding: 25px;
}
.header-icon i{
    font-size: 25px;
    color: var(--hp-color);
}
.product-content-i {
    display: flex;
    margin-top: 100px;
}
.product-content-name-sp{
    display: flex;
}
.product-content-name-title{
    margin-bottom: 50px;
    font-size: 30px;
}
.product-content-dh{
    margin-left: 30px;
}
.product-content-name-sp-content li{
    margin-bottom: 25px;
}
.product-content-name-sp-content li:nth-child(2){
    font-size: 25px;
}
.product-content-name-sp-number{
    margin-left: 30px;
}
.product-content-name-wr{
    display: flex;
    color: blue;
    justify-content: center;
    margin-top: 10px;
}
.product-content-name-wr p{
    margin-left: 5px;
} 
.product-content-name-sp{
    border: #000 solid 2px;
    border-radius: 10px;
}
.product-content-dh{
    margin-top: 90px;
}
.product-content-dh-content{
    margin-top: 10px;
    /* display: flex; */
    border: #000 solid 2px;
    border-radius: 20px;
}
.product-content-dh-content-t p{
    margin:20px 10px;

}
.product-content-dh-content-t p:last-child{
    font-size: 20px;
}
.product-content-dh-content-btn button{
    margin-top: 30px;
    background-color: coral;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
}


















/* bot */

.header-bot{
    margin-top: 200px;
    width: 100%;
    background-color: var(--main-color);
}

.header-bot-content{
    display: flex;
    justify-content: space-between;
}
.bot1{
    padding: 30px;
    height: 250px;
    /* max-width: 1150px; */
}
.bot1>li a{
    color: var(--hp-color);
    
}
.bot1>li{
    color: var(--hp-color);
}
.bot1 li:first-child{
    font-size: 40px;
    margin-bottom: 20px;
}
.bot1 li:nth-child(3){
    font-size: 25px;
    margin-bottom: 20px;
}
.bot1 a:hover{
    color: brown;
}
.bot2-content{
    margin-top: 30px;
    color: var(--hp-color);
    font-size: 30px;
}
.bot2{
    display: flex;
    margin-top: 10px;
}
.bot2 >li a {
    color: var(--hp-color);
}
.bot2 li:nth-child(2){
    margin-left: 20px;
}
.f1{
    position: relative;
}
.submenu{
    position: absolute;
    width: 200px;
    height: 300px;
}
.f2{
    display: flex;
}